<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="Member" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True;TransparentNetworkIPResolution=False"
      providerName="System.Data.SqlClient" />
    
  </connectionStrings>
  <system.webServer>
    <security>
      <requestFiltering>
        <!-- Limit to 200MB -->
        <requestLimits maxAllowedContentLength="209715200" />
      </requestFiltering>
    </security>
  </system.webServer>
  
  <system.web>
    
  <httpRuntime maxRequestLength="20480000" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
 
  </system.web>
  
   

      </configuration>
